.custom-dropzone {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: table;
}
.custom-dropzone .dropzone-left {
    display: table-cell;
    vertical-align: top;
    min-width: 216px;
    border: none;
    border-right: 1px solid #cccccc;
    background: initial;
    padding: 4px;
    background-color: #d7d9db;
}
.custom-dropzone .dropzone-left:hover {
    background-color: #2a95d0;
    opacity: 0.6;
    color: #fff;
}
.custom-dropzone .dropzone-left .dz-message {
    margin: 56px 0 56px 0;
}
.custom-dropzone .dropzone-right {
    display: table-cell;
    width: 100%;
    border: none;
    background: initial;
    padding: 4px;
}
.custom-dropzone .dropzone-right .dz-sortable {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-dropzone .dropzone-right .dz-sortable .dz-template-item {
    border: 2px double #ccb;
    border-radius: 4px;
    text-align: center;
    margin: 2px;
    padding: 2px;
    cursor: move;
}
.custom-dropzone .dropzone-right .dz-preview .dz-image {
    width: 140px;
    height: 140px;
    display: table-cell;
    vertical-align: bottom;
    border-radius: 4px;
}
.custom-dropzone .dropzone-right .dz-preview .dz-input {
    width: 140px;
    margin: 4px 0;
}
.custom-dropzone .dropzone-right .dz-preview .dz-actions .btn {
    padding: 2px;
}
@media only screen and (max-width: 750px) {
    .custom-dropzone {
        display: block;
        height: auto;
    }
    .custom-dropzone .dropzone-left {
        display: block;
        min-width: unset;
        min-height: unset;
        border-right: none;
        border-bottom: 1px solid #cccccc;
    }
    .custom-dropzone .dropzone-left .dz-message {
        margin-top: 2em;
    }
    .custom-dropzone .dropzone-right {
        display: block;
    }
}
